{% extends "core/base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
          <div class="card-body text-center">
            <h2 class="card-title">Account Activation Sent</h2>
            <p class="card-text">
              We have sent an activation link to your email. Please check your inbox and follow the instructions to activate your account.
            </p>
            <a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
