{% extends 'core/base.html' %}

{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'core/static/stylesheet/accounts.css' %}">
{% endblock %}


{% block title %}Sign Up{% endblock %}

{% block scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script>
{% endblock %}

{% block content %}

<div id="webgel" class="webgel">
  <div class = "accounts-container">
    <h2 class="signup-text">Sign up</h2>
    <p class="login-text">Already have an account? <button><a href="{% url 'accounts:login' %}">Log in</a></p>
    </button>
    <div class="social-container">
      <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <form method="post">
      {% csrf_token %}
        {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small class="help-text">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p class="error-message"> {{ error }} </p>
          {% endfor %}
        </p>
        {% endfor %}
      <button type="submit">Sign up</button>
    </form>
  </div>
</div>

{% endblock %}
