{% extends 'core/base.html' %}

{% load static %}

{% block title %}Verify Email{% endblock %}

{% block scripts %}
    {# threejs link #}
    {% comment %} <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script> {% endcomment %}
{% endblock %}

<div class="webgel" id="webgel">
  <div class="row">
    <h1>You need to verify your email</h1>
    <form method="post">
        {% csrf_token %}
        <input class="btn btn-primary max-btn" type="submit" value="Verify">
    </form>
  </div>
</div>
