{% extends 'core/base.html' %}

{% load static %}


{% block title %}About{% endblock %}

{% block scripts %}
{% comment %} threejs link {% endcomment %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script>

<script>
  const webgel = '{{ webgel | safe }}';
  if (webgel.trim() !== '') {
    const parsedData = JSON.parse(webgel);
    console.log(parsedData);
  } else {
    console.error('The webgel variable is empty.');
  }

</script>


{% endblock %}

{% block content %}
<div id="webgel">
  <section class="section__container about__container">
    <h2 class="section__header">ABOUT US</h2>
    <p class="section__subheader">
      Welcome to House Of Young – more than just an event platform.
      We are seasoned experts in the realms of branding, management,
      organization, and the cultivation of brands, artists, and more.
      Our strength lies in our diversity, coupled with over a decade
      of experience. With a team of specialists boasting unique and
      substantial abilities, we deliver unparalleled excellence.
      Our commitment goes beyond event hosting. House Of Young is your
      gateway to a world where expertise converges with creativity.
      We specialize in crafting extraordinary experiences,
      fostering talent, and building lasting connections.
      Whether you're an artist seeking exposure, an enthusiast
      craving unique events, or a brand aiming to make a statement –
      House Of Young is your definitive destination.
      Join us in this journey where passion meets proficiency,
      and together, we create moments that resonate.
    </p>
    <div class="about__image">
      <img src="{% static 'images/HOY-removebg-preview.png' %}" alt="HOY">
      <div class="about__grid">
        <div class="about__card">
          <span><i class="ri-user-star-fill"></i></span>
          <div class="about__card__content">
            <h4>Classy Lifestyle</h4>
            <p>Lifestyle management lke no other.
              We are the best in the game.</p>
            </p>
          </div>
        </div>
        <div class="about__card">
          <span><i class="ri-vidicon-fill"></i></span>
          <div class="about__card__content">
            <h4>Unforgettable Events</h4>
            <p>Events organization and purification.</p>
          </div>
        </div>
        <div class="about__card">
          <span><i class="ri-building-line"></i></span>
          <div class="about__card__content">
            <h4>Good Management</h4>
            <p>Supportive management, brands.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="review">
    <div class="section__container review__container">
      <span><i class="ri-double-quotes-r"></i></span>
      <div class="review__content">
        <h4>REVIEWS</h4>
        <p>
          The best
        </p>
        <div class="review__rating">
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-half-fill"></i></span>
        </div>
        <div class="review__footer">
          <div class="review__member">
            <img src="{% static 'images/Davido_performing_at_the_Lagos_city_Marathon_gala_2020_10_27_05_793000_(cropped).jpeg' %}" alt="HOY">
            <div class="review__member__details">
              <h4>Jane Cooper</h4>
              <p>Software Developer</p>
            </div>
          </div>
          <div class="review__nav">
            <span><i class="ri-arrow-left-line"></i></span>
            <span><i class="ri-arrow-right-line"></i></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
