{% extends 'core/base.html' %}

{% block title %}Blog{% endblock %}

{% block scripts %}
{% comment %} threejs link {% endcomment %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script>

<script>
  const webgel = '{{ webgel | safe }}';
  if (webgel.trim() !== '') {
    const parsedData = JSON.parse(webgel);
    console.log(parsedData);
  } else {
    console.error('The webgel variable is empty.');
  }

</script>


{% endblock %}

{% block content %}

<div id="webgel" class="webgel" style="position: fixed; top: 0; left: 0;">
  <div class="row" style="position: absolute; color: gold;">

    <h1>Blog</h1>

    <section>
      <h2>Recent Blog Posts</h2>
      {% for blog_post in blog_posts %}
          <article>
              <h3>{{ blog_post.title }}</h3>
              <p>{{ blog_post.content }}</p>

              {% if blog_post.image %}
                  <img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }} Image">
              {% endif %}

              <!-- Forum-like structure -->
              <div class="forum-container">
                  <div class="forum-comments">
                      <h4>Comments</h4>
                      {% for comment in blog_post.comments.all %}
                          <div>
                              <strong>{{ comment.author.username }}:</strong>
                              {{ comment.text }}
                          </div>
                      {% endfor %}

                      <!-- Add a new comment form -->
                      <form method="post" action="{% url 'add_comment' blog_post.id %}">
                          {% csrf_token %}
                          <label for="id_text">Add a comment:</label>
                          <textarea name="text" id="id_text"></textarea>
                          <input type="submit" value="Submit">
                      </form>
                  </div>

                  <!-- Like Button -->
                  <div class="forum-likes">
                      <form method="post" action="{% url 'like_post' blog_post.id %}">
                          {% csrf_token %}
                          <input type="submit" value="Like">
                          <span>{{ blog_post.likes.count }} likes</span>
                      </form>
                  </div>
              </div>

              <a href="{% url 'core:post' slug=blog_post.slug %}">Read More ({{ blog_post.slug }})</a>
          </article>
      {% endfor %}
  </section>

  </div>
  </div>

{% endblock %}
