{% extends 'core/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block scripts %}
{% comment %} threejs link {% endcomment %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script>

<script>
  const webgel = '{{ webgel | safe }}';
  if (webgel.trim() !== '') {
    const parsedData = JSON.parse(webgel);
    console.log(parsedData);
  } else {
    console.error('The webgel variable is empty.');
  }

</script>


{% endblock %}

{% block content %}

<div id="webgel" class="webgel" style="position: fixed; top: 0; left: 0;">
  <div class="row" style="position: absolute; color: gold;">
    <h1>Contact Us</h1>

    <section>
      <h2>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint vero ipsa facere explicabo
        quia a delectus, dolores natus sit perferendis illum nobis obcaecati! Sed, consequuntur aperiam saepe impedit quisquam in?
      </h2>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, ipsam cum harum nulla exercitationem quisquam blanditiis dolores ipsum vel voluptatum iure, distinctio maxime maiores officiis itaque voluptates minus laboriosam soluta?
        Nobis, ut. Est qui ex beatae obcaecati saepe. Necessitatibus velit, ex labore itaque est autem delectus harum saepe sint quae ducimus ratione placeat consequuntur eos esse dolor a sunt non!
        Vero voluptatibus tempora earum magnam velit nobis voluptas voluptates dolores! Ex molestiae est reiciendis ut cum necessitatibus dolorum quasi totam iure, ipsam repellat maxime? Adipisci, assumenda. Exercitationem explicabo rerum magnam?
        Quod magni deleniti dolore nulla aliquid hic repellendus at aperiam in, distinctio possimus, ex optio unde eligendi est odio debitis asperiores numquam! Non quasi debitis nulla aspernatur similique nostrum accusantium?

        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque soluta voluptates necessitatibus libero veniam accusantium odio rem officiis architecto minima, mollitia assumenda aliquid obcaecati et suscipit repellendus esse maxime? Velit!
        Consectetur eius unde ipsum dicta excepturi voluptates explicabo, quaerat accusantium, praesentium eligendi, porro eum! Facilis commodi accusamus repellat eligendi iusto dolor maiores quas ea eius adipisci, voluptatem quos ad rem!
        Ratione illo tempora tempore animi ad ut omnis eveniet aliquam repellendus unde impedit, mollitia quibusdam? Eius molestias ipsum id a porro impedit blanditiis. Iure illo temporibus repellendus sequi inventore aliquam?
        Ex maiores explicabo, in magnam praesentium facere iure, adipisci, asperiores assumenda sint fugit doloribus nesciunt quaerat consequatur repellat officiis libero amet consectetur dolores. Provident dolores vero iusto, tempore nisi et!
        Est nobis tenetur mollitia. Exercitationem sunt corrupti distinctio possimus, illum incidunt at cupiditate, cumque enim ipsum sed omnis blanditiis illo modi accusantium rem! Nemo voluptatibus, quos consequatur voluptatum cum nihil.
        Corrupti deserunt asperiores voluptates pariatur sunt sapiente in amet nesciunt obcaecati. Corrupti, libero quasi. Dolor corporis est autem neque? Cupiditate aspernatur esse beatae eligendi, odio ea recusandae deserunt accusantium ipsa.
        Magni asperiores, quisquam ex, ea consequatur nihil dolor nemo, maxime voluptas obcaecati corrupti reiciendis quia! Blanditiis hic, iste mollitia earum voluptatum tempore id aliquid fugit nemo, soluta repudiandae eligendi similique.
        Molestias maiores sed commodi tenetur mollitia, corrupti sequi vitae pariatur voluptatibus iste error esse veritatis quaerat! Assumenda facere deleniti distinctio et unde quia. Ab facere beatae animi, doloribus culpa ipsam.
        Nam maiores sed dolorem ad impedit provident vero animi alias temporibus ab quidem, repellendus eius nesciunt cum, vitae aspernatur minima molestiae mollitia laudantium commodi et at? Est ipsam nulla repellendus.
        Nulla, blanditiis. Cumque vitae earum alias, aliquam amet similique libero quis provident aperiam, voluptatem facilis unde cum magni ab ex ipsum nihil fugit eos. Et architecto quo dolores iste natus.
        Reprehenderit cum velit fugiat fugit totam ipsam voluptates officia voluptatum hic, accusantium tempore minima, eaque deserunt ipsa beatae neque repudiandae possimus odit? Voluptatibus magnam ex quod. Ex soluta numquam commodi?
        Vero distinctio necessitatibus quo quaerat fugiat eos voluptates laudantium est accusantium esse optio aperiam, vitae tempore illum soluta sequi minus cumque mollitia aliquam ipsum, ab molestias! Eum esse unde amet?
        Cumque est cupiditate laudantium ut eum aliquid rerum quod, facilis illo. Assumenda sit modi delectus, veritatis illum nemo officia ipsam eveniet aut tempora nulla laboriosam officiis dolor cum, similique perspiciatis.
        Minus repudiandae nesciunt dolorum nihil nobis! Amet aliquam eum perspiciatis enim recusandae molestias ipsa reiciendis quae tenetur sapiente alias quis atque sed vero necessitatibus dolorum beatae dolor modi, eveniet aspernatur?
        Fugiat tempora beatae repellat delectus laboriosam ab est porro facere doloribus sit! Vero velit labore molestias dolores earum. Earum harum iste quisquam voluptate nobis soluta eligendi minima eos qui natus!
        Rerum similique nulla quaerat aliquid et laborum enim reprehenderit, doloremque eos numquam nesciunt facere omnis ipsam ullam. Omnis perspiciatis, magnam pariatur aut nisi, dolores, atque quaerat eveniet amet vel reiciendis.
        Inventore sunt eaque facilis, dolorum necessitatibus veritatis ducimus iusto dolor harum quae, architecto rem atque quaerat voluptate, reprehenderit officiis sapiente? Earum enim cumque amet eius ut iusto hic, esse delectus.
        Natus et aut aperiam dolore unde, molestias quam maxime ipsam? Animi adipisci magnam amet! Pariatur quisquam sint reprehenderit itaque repellendus tempora facilis, beatae harum nostrum enim, quidem ad atque quod.
        Eaque ipsum minima provident quod impedit minus perferendis dolor, qui itaque incidunt cumque consectetur doloribus obcaecati, quasi officia. Labore dolor impedit distinctio aut aperiam unde aspernatur eaque sit veritatis eligendi.
        Quas qui error aliquam ipsum incidunt neque. Perspiciatis harum sed aperiam eveniet tenetur est minus repudiandae, esse rerum ex temporibus nihil voluptatem a omnis culpa optio consequuntur consequatur illum sit.
      </p>
    </section>

  </div>
</div>
{% endblock %}
