{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<linkhref="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"rel="stylesheet"/>
{% endblock %}

{% block title %}Contact Us{% endblock %}

{% block scripts %}
{% comment %} threejs link {% endcomment %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script>



{% endblock %}

{% block content %}

<div id="webgel">
  <section class="section__container members__container">
    <h2 class="section__header">Become a Member</h2>
    <p class="section__subheader">
      Our pricing plan comes with various membership tiers, each tailored to
      cater to different preferences and events aspirations.
    </p>
    <div class="members__grid">
      <div class="members__card">
        <div class="members__card__content">
          <h4>Basic Plan</h4>
          <h3>€16</h3>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            Free passes on your first event after registration; arrive before 00:30am
          </p>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            Exclusive 3 photoshoots and delivery via email
          </p>
        </div>
        <button class="btn members__btn">Join Now</button>
      </div>
      <div class="members__card">
        <div class="members__card__content">
          <h4>Bi-Weekly Plan</h4>
          <h3>€38</h3>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            1 video session with the DJ, show the Organiser your membership pass
          </p>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            Exclusive 5 photoshoots and delivery via email
          </p>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            Free passes on your 2 events
          </p>
        </div>
        <button class="btn members__btn">Join Now</button>
      </div>
      <div class="members__card">
        <div class="members__card__content">
          <h4>Monthly Plan</h4>
          <h3>€75</h3>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            Free House Of Young merchanized shirt
          </p>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            1 VIP pass, video session with the DJ
          </p>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            Exclusive 10 photoshoots and delivery via email, discounts and special, private parties
          </p>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            Exclusively, all access pass with 2 shot of you arrive before 00:30 any events
          </p>
          <p class="members__card__content-text">
            <i class="ri-checkbox-circle-line"></i>
            You get to invite a plus one to our special events.
          </p>
        </div>
        <button class="btn members__btn">Join Now</button>
      </div>
    </div>
  </section>

</div>
{% endblock %}
