{% extends 'core/base.html' %}

{% block title %}{{ event.title }}{% endblock %}

{% block scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script>
{% endblock %}

{% block content %}
<div id="webgel">
  <section class="section__container class__container">
    <div class="class__image">
      <span class="bg__blur"></span>
      {% if event.image %}
        <img src="{{ event.image.url }}" alt="{{ event.title }} Image" class="class__img-1">
        <img src="{{ event.image.url }}" alt="{{ event.title }} Image" class="class__img-2">
      {% endif %}
    </div>
    <div class="class__content">
      <h2 class="section__header">{{ event.title }}</h2>
      <p>
        {{ event.description }}
      </p>
      <button id="btn-ticket" class="btn">Buy Ticket</button>
    </div>
  </section>

    <div class="explore__grid">
      <p>Date: {{ event.event_date }}</p>
      <p>Organizer: {{ event.organizer.name }}</p>
      <p>Venue: {{ event.venue.address }}, {{ event.venue.city }}, {{ event.venue.country }}</p>
      <p>Tickets available: {{ event.tickets_available }}</p>
      <p>Ticket price: €{{ event.ticket_price }}</p>
    </div>
  </div>

  <div class="section__container explore__container">
    <h3 class="section__header">Related Events</h3>
    <div class="explore__grid">
      {% for related_event in