{% extends 'core/base.html' %}

{% block title %}Events Page{% endblock %}

{% block scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script>
{% endblock %}

{% block content %}

<div id="webgel" >

  <section class="section__container explore__container">
    <div class="explore__header">
      <h2 class="section__header">UPCOMING EVENTS</h2>
    </div>

    {% if upcoming_events %}
<div class="explore__grid">
  {% for event in upcoming_events %}
    <div class="explore__card">
      <span><i class="ri-boxing-fill"></i></span>
      <h4 class="text-xl font-semibold mb-2" style="text-align: center;">{{ event.title }}</h4>
      <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Date and Time: {{ event.event_date }} {{ event.event_time }}</p>
      <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Venue: {{ event.venue }}</p>
      <p class="text-grey-500" style="margin-left: 0em; margin-bottom: 3em;">Sponsors:
        {% for sponsor in event.sponsor.all %}
          {{ sponsor.name }}
        {% endfor %}
      </p>
      <p class="text-grey-500" style="margin-left: 0em; margin-bottom: 3em;">Event Collaborators:
        {% for collaborator in event.collaborator.all %}
          {{ collaborator.user.username }}
        {% endfor %}
      </p>
      <a href="/event/{{ event.id }}" target="_blank" class="btn btn-primary" style="margin: 0 2em;">View Event</a>

      {% if event.image %}
        <img src="{{ event.image.url }}" alt="{{ event.title }} Image" class="event__image">
      {% endif %}
      {% if event.blog_post.slug %}
        <a href="{% url 'blog_post_detail' slug=event.blog_post.slug %}" class="btn">Read More</a>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% else %}
  <p class="text-white-500" style="text-align: center;">No upcoming events at the moment.</p>
{% endif %}

    <div class="explore__header">
      <h2 class="section__header">PAST EVENTS</h2>
    </div>

    {% if past_events %}
    <div class="explore__grid">
      {% for event in past_events %}
        <div class="explore__card">
          <span><i class="ri-boxing-fill"></i></span>
          <h4 class="text-xl font-semibold mb-2" style="text-align: center;">{{ event.title }}</h4>
          <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Date : {{ event.event_date }}</p>
          <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Time: {{ event.event_time }}</p>
          <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Venue: {{ event.venue }}</p>
          <p class="text-grey-500" style="margin-left: 0em; margin-bottom: 3em;">Sponors: {{ event.sponsor }}</p>
          <p class="text-grey-500" style="margin-left: 0em; margin-bottom: 3em;">Event Collaborators: {{ event.collaborator }}</p>
          <a href="/event/{{ event.id }}" target="_blank" class="btn btn-primary" style="margin: 0 2em;">View Event</a>
          {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.title }} Image" class="event__image">
          {% endif %}
          {% if event.blog_post.slug %}
            <a href="{% url 'blog_post_detail' slug=event.blog_post.slug %}" class="btn">Read More</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p class="text-white-500" style="text-align: center;">No past events available.</p>
    {% endif %}
  </section>
</div>
{% endblock %}
