{% extends 'core/base.html' %}

{% block title %}Events Page{% endblock %}

{% block scripts %}
{% comment %} threejs link {% endcomment %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script>



{% endblock %}

{% block content %}

<div id="webgel" >
  <section class="section__container explore__container">
    <div class="explore__header">
      <h2 class="section__header">UPCOMING EVENTS</h2>
    </div>

    {% if upcoming_events %}
<div class="explore__grid">
  {% for event in upcoming_events %}
    <div class="explore__card">
      <span><i class="ri-boxing-fill"></i></span>
      <h4 class="text-xl font-semibold mb-2">{{ event.title }}</h4>
      <p class="text-gray-600 mb-4">{{ event.content }}</p>
      <p class="text-gray-500">Date and Time: {{ event.event_date }} {{ event.event_time }}</p>
      <p class="text-gray-500">Venue: {{ event.venue }}</p>
      <a href="/events/{{ event.id }}" target="_blank" class="btn btn-primary">View Event</a>
      {% if event.image %}
        <img src="{{ event.image.url }}" alt="{{ event.title }} Image" class="w-full h-32 object-cover mb-4">
      {% endif %}
      {% if event.blog_post.slug %}
        <a href="{% url 'blog_post_detail' slug=event.blog_post.slug %}" class="btn">Read More</a>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% else %}
  <p class="text-white-500">No upcoming events at the moment.</p>
{% endif %}

    <div class="explore__header">
      <h2 class="section__header">PAST EVENTS</h2>
    </div>

    {% if past_events %}
    <div class="explore__grid">
      {% for event in past_events %}
        <div class="explore__card">
          <span><i class="ri-boxing-fill"></i></span>
          <h4 class="text-xl font-semibold mb-2">{{ event.title }}</h4>
          <p class="text-gray-600 mb-4">{{ event.content }}</p>
          <p class="text-gray-500">Date : {{ event.event_date }}</p>
          <p class="text-gray-500">Time: {{ event.event_time }}</p>
          <p class="text-gray-500">Venue: {{ event.venue }}</p>
          <a href="/events/{{ event.id }}" target="_blank" class="btn btn-primary">View Event</a>
          {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.title }} Image" class="w-full h-32 object-cover mb-4">
          {% endif %}
          {% if event.blog_post.slug %}
            <a href="{% url 'blog_post_detail' slug=event.blog_post.slug %}" class="btn">Read More</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p class="text-white-500">No past events available.</p>
    {% endif %}
  </section>
</div>
{% endblock %}
