{% extends 'core/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js'></script>
{% endblock %}

{% block content %}

<div id="webgel" class="webgel">
  <header class="section__container header__container row">
      <div class="header__content">
        <span class="bg__blur"></span>
        <span class="bg__blur header__blur"></span>
        <h4>HOUSE OF YOUNG</h4>
        <h1><span>WE CURATE & MANAGE</span> BUSINESSES  ONLINE.</h1>
        <p style="margin: 2rem 0;">
          House of Young is more than just an event organizing platform;
          it's an organization dedicated to nurturing, building, and
          fostering the growth of entrepreneurs and small businesses.
          We provide them with a platform and a voice to showcase their
          talents, allowing them to reach a wider audience and have their
          abilities discovered. Our expertise, rooted in event organization
          and collaboration, is focused on establishing a significant presence,
          not only in Valencia, Spain, but also in Nigeria—the largest and most
          vibrant hub of events in Africa—before expanding our influence globally.
        </p>
        <a href="{% url 'core:event' %}" class="btn">Explore Our Events</a>
      </div>
    <div class="header__image">
      <img src="{% static 'images/HOY-removebg-preview.png' %}" alt="image"></a>
    </div>

    <section class="section__container events__container">
      <h2 class="section__header">Upcoming Events</h2>
      <div class="explore__grid-home">
        {% for event in upcoming_events %}
        <div class="explore__card">
          <span><i class="ri-boxing-fill"></i></span>
          <h4 class="text-xl font-semibold mb-2" style="text-align: center;">{{ event.title }}</h4>
          <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Date and Time: {{ event.event_date }} {{ event.event_time }}</p>
          <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Venue: {{ event.venue }}</p>
          <a href="/event/{{ event.id }}" target="_blank" class="btn btn-primary" style="margin: 0 2em;">View Event</a>
          {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.title }} Image" class="event__image">
          {% endif %}
          {% if event.blog_post.slug %}
            <a href="{% url 'blog_post_detail' slug=event.blog_post.slug %}" class="btn">Read More</a>
          {% endif %}
        </div>
        {% endfor %}
        {% if upcoming_events|length == 0 %}
          <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">No upcoming events</p>
        {% endif %}
      </div>

      <h2>Past Events</h2>
      {% for event in past_events %}
          <div class="explore__card">
            <span><i class="ri-boxing-fill"></i></span>
            <h4 class="text-xl font-semibold mb-2" style="text-align: center;">{{ event.title }}</h4>
            <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Date : {{ event.event_date }}</p>
            <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Time: {{ event.event_time }}</p>
            <p class="text-gray-500" style="margin-left: 0em; margin-bottom: 3em;">Venue: {{ event.venue }}</p>
            <a href="/event/{{ event.id }}" target="_blank" class="btn btn-primary" style="margin: 0 12em;">View Event</a>
            {% if event.image %}
              <img src="{{ event.image.url }}" alt="{{ event.title }} Image" class="event__image">
            {% endif %}
            {% if event.blog_post.slug %}
              <a href="{% url 'blog_post_detail' slug=event.blog_post.slug %}" class="btn">Read More</a>
            {% endif %}
          </div>
        {% endfor %}
    </section>
  </header>


  <footer class="section__container footer__container">
    <span class="bg__blur"></span>
    <span class="bg__blur footer__blur"></span>
    <div class="footer__col">
      <div class="footer__logo"><a href="{% url 'core:index' %}" class="logo"><img src="{% static 'images/HOY-removebg-preview.png' %}" alt="logo"></a></div>
      <p>
        House of Young is more than just an event organizing platform;
        it's an organization dedicated to nurturing, building, and
        fostering the growth of entrepreneurs and small businesses.
      </p>
      <div class="footer__socials">
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-twitter-fill"></i></a>
      </div>
    </div>
    <div class="footer__col">
      <h4>Company</h4>
      <a href="#">Business</a>
      <a href="#">Franchise</a>
      <a href="#">Partnership</a>
      <a href="#">Network</a>
    </div>
    <div class="footer__col">
      <h4>About Us</h4>
      <a href="#">Blogs</a>
      <a href="#">Subscriptions</a>
      <a href="#">Security</a>
      <a href="#">Careers</a>
    </div>
    <div class="footer__col">
      <h4>Contact</h4>
      <a href="#">Contact Us</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
    </div>
  </footer>
  <div class="footer__bar">
    Copyright © 2024 | House Of Young. All rights reserved.
  </div>

</div>

{% endblock %}
